@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as *;

.search-input-container {
  position: relative;
  width: 100%;
}

.input-group {
  position: relative;
  width: 100%;

  input {
    width: 100%;
    @include padding-horizontal(15px);
  }
}

.search-input {
  width: 346px;
  padding: 10px 5px;
  border: 1px solid $neutral-gray40;
  border-radius: 10px;
  font-size: 16px;
  box-sizing: border-box;

  &:focus {
    outline: none;
    border-color: $blue;
  }

  &:focus + label,
  &:not(:placeholder-shown) + label {
    top: 5px;
    font-size: $small;
    color: $blue;
  }
}

label {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  font-size: 15px;
  transition: all 0.2s ease;
  pointer-events: none;
  color: $neutral-gray40;
  background-color: #fff;
}

label.focused {
  transform: translateY(-16px);
  font-size: $small;
  color: $blue;
  padding: 0 5px;
  font-weight: 700;
}

.options-list {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  background: $white;
  border-bottom: 1px solid $primary-blue40;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 10;
  margin-top: 5px;
  padding: 0;
  list-style: none;

  .option-item {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border-bottom: 1px solid $blue;
    color: $secondary;

    &:hover {
      background-color: $primary-blue40;
      color: $secondary;
    }

    &.selected {
      background-color: $primary-blue40;
      color: $secondary;
    }
  }
}
